.string-comment {
  margin-bottom: 40px;
  &__title {
    @extend %main-text;
    margin-bottom: 10px;
  }

  &__container {
    position: relative;
    margin-bottom: 20px;
  }

  div &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    @extend %main-text;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: $main-hover-color;
    }
  }

  div > &__textarea {
    @extend %main-textarea;
  }

  &__info {
    @extend %text-with-squere;
  }
}
